___
# Ciência dos Dados - PROJETO 1

Guilherme Silvarolli Aliperti 2A___

Tendências na forma de acessar a internet

Com o meu projeto pretendo analisar o uso de internet por celular ou outros aparelhos, bem como se o acesso foi feito por meio de dados móveis(3G ou 4G) ou banda larga. Atravez da analise de mais de um ano pretendo conseguir encontrar qual as tendências da internet.

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\guial\Documents\guizika\2A\Ciência dos dados\Repositório projeto 1\CD2A\PNAD DOM2015

In [6]:
#Se usar o arquivo descompactado
dados_2015 = pd.read_csv('DOM2015.csv',sep=',')

#coluninhas
df15 = pd.DataFrame({"UF": dados_2015.UF})
df15["Acesso a internet"] = dados_2015.V02322
df15["Acesso por telefone"] = dados_2015.V02324
df15["Outros aparelhos"] = dados_2015.V02327
df15["Uso por 3G"] = dados_2015.V02424
df15["Banda larga"] = dados_2015.V02426
df15.head(15)

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

,UF,Acesso a internet,Acesso por telefone,Outros aparelhos,Uso por 3G,Banda larga
0,11,4.0,NaN,NaN,NaN,NaN
1,11,NaN,NaN,NaN,NaN,NaN
2,11,2.0,4.0,4.0,2.0,2.0
3,11,2.0,2.0,4.0,2.0,2.0
4,11,4.0,NaN,NaN,NaN,NaN
5,11,2.0,4.0,4.0,4.0,2.0
6,11,4.0,NaN,NaN,NaN,NaN
7,11,4.0,NaN,NaN,NaN,NaN
8,11,2.0,2.0,4.0,2.0,2.0
9,11,NaN,NaN,NaN,NaN,NaN
10,11,2.0,2.0,4.0,2.0,2.0
11,11,2.0,2.0,4.0,2.0,2.0
12,11,NaN,NaN,NaN,NaN,NaN
13,11,2.0,2.0,4.0,2.0,2.0
14,11,NaN,NaN,NaN,NaN,NaN

___
## Conclusão

Descreva aqui suas conclusões!